<!--
	Ha a scan attribútum értékét "true"-ra módosítjuk, akkor a Logback
	percenként ellenőrzi, hogy változott-e a konfigurációs állomány.
	Változás esetén megfelelően igazítja hozzá a beállításokat. Az állomány
	így akár futásidőben is módosítható.
-->
<configuration scan="false" debug="false">

    <!-- A konzolon minden eseményt naplózunk -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %boldBlue(%.-1level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        Az állományba csak adott szintű vagy annál magasabb szintű
        eseményeket naplózunk (a jelenlegi beállítás esetén ERROR és
        WARN szintű eseményeket)
    -->
    <appender name="FILE1" class="ch.qos.logback.core.FileAppender">
        <file>messages.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        Az állományba csak adott szintű eseményeket naplózunk (a
        jelenlegi beállítás esetén csak WARN szintű eseményeket)
    -->
    <appender name="FILE2" class="ch.qos.logback.core.FileAppender">
        <file>info.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        Az állományba csak olyan eseményeket naplózunk, melyeknél az
        üzenet szövege egy adott karakterláncot ("fail") tartalmaz
    -->
    <appender name="FILE3" class="ch.qos.logback.core.FileAppender">
        <file>fail.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator">
                <expression>e.message.toLowerCase().contains("fail")</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        A gyökér logger mindent az állományokba naplóz
    -->
    <root level="ALL">
        <appender-ref ref="FILE1"/>
        <appender-ref ref="FILE2"/>
        <appender-ref ref="FILE3"/>
    </root>

    <!--
        Az alábbi logger mindent a konzolra naplóz.
        Az additivity="false" azt jelenti, hogy a logger-be
        naplózott események nem adódnak tovább a hierarchiában
        fölötte lévő logger objektumokhoz. Az attribútum értékét
        "true"-ra kell módosítani ahhoz, hogy az események
        eljussanak a gyökér logger-hez, így az állományokban is
        megjelenjenek.
    -->
    <logger name="pkg.Main" level="ALL" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>